<link rel="import" href="../polymer/polymer.html">

<!-- Iron Components -->
<link rel="import" href="../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../iron-media-query/iron-media-query.html">
<!--

@element now-left-right2
@demo demo/index.html
-->
<dom-module id="now-left-right2">
	<style>
		:host {
			display: block;
			box-sizing: border-box;
		}
		.left, .right {
			margin-right: 25px;
		}
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0px;
		}
	</style>
	<template>
		<iron-media-query
			id="mediaQuery"
			query="{{_query}}"
			query-matches="{{_breakpointReached}}">
		</iron-media-query>
		<div id="contentContainer" class="leftRight2 layout horizontal">
			<div class="left flex">
				<div class="header layout vertical start-justified">
					<content select="h1[left],h2[left],h3[left],h4[left],h5[left],h6[left]"></content>
				</div>
				<content select="div[left]"></content>
			</div>
			<div class="right flex">
				<div class="header layout vertical start-justified">
					<content select="h1[right],h2[right],h3[right],h4[right],h5[right],h6[right]"></content>
				</div>
				<content select="div[right]"></content>
			</div>
		</div>
	</template>
</dom-module>
<script>
	Polymer({
		is: "now-left-right2",
		properties: {
			breakpoint: {
				type: Number,
				notify: true,
				value: 768
			},
			_breakpointReached: {
				type: Boolean,
				observer: '_mediaChanged'
			},
			_query: {
				type: String,
				notify: true,
				value: '(max-width: 767px)'
			}
		},
		ready: function() {},
		attached: function() {
			if (this.breakpoint) {
				this.set('_query', '(max-width: ' + this.breakpoint + 'px)');
			}
		},
		_mediaChanged: function(smaller, oldValue) {
			var container = this.$.contentContainer;
			if (smaller) { // less than max width
				this.toggleClass('vertical', true, container);
				this.toggleClass('horizontal', false, container);
			}else { // max width or greater
				if (this.elementMatches('.vertical', container))	{
					this.toggleClass('vertical', false, container);
					this.toggleClass('horizontal', true, container);
				}
			}
		}
	});
</script>
